@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "@fortawesome/fontawesome-free/css/all.css";

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 32px;
    color: #000;
    font-weight: 500;
}

h2 {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.createBoardWrap {
    display: flex;
    justify-content: space-between;
}

.createBoardContent {
    max-width: 50%;
    width: 440px;
    height: 510px;
    margin: auto;
}

.createBoardTitle h1 {
    margin-top: 70px;
    margin-bottom: 30px;
}

.createBoardTitle h2 {
    margin-bottom: 20px;
}

.createBoardContent input {
    padding: 10px 20px;
    width: 440px;
    outline: none;
    border: 2px solid #c3c6d4;
    border-radius: 4px;
    margin-bottom: 50px;
}

.createBoardContent input:focus {
    border-color: #0073ea;
}

.createBoardContent .note {
    background-color: #f6f7fb;
    padding: 15px 40px 15px 20px;
    border-radius: 8px;
}

.next {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 340px;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #ecedf5;
    border-radius: 4px;
    color: #c3c6d4;
}
.next:disabled {
    cursor: not-allowed;
}

.next:enabled {
    background-color: #0073ea;
    color: #fff;
}

.btn__next:hover {
    cursor: pointer;
}

.overlayCreateBoard {
    height: 100vh;
    width: 50%;
}

.overlay {
    position: relative;
    background-color: #f6f7fb;
    border-radius: 10px;
    height: calc(100% - 10px);
    margin-top: 5px;
    width: calc(100% - 10px);
}

.overlayWrap button i {
    position: absolute;
    font-size: 24px;
    padding: 10px;
    right: 0;
}

.board {
    height: 550px;
    background: #fff;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    box-sizing: initial;
    display: flex;
    filter: drop-shadow(-10px 10px 30px rgba(29, 140, 242, 0.3));
    flex-direction: column;
    overflow-y: auto;
    padding-top: 32px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
    width: 90%;
}

.line {
    width: 30%;
    background: #c3c6d4;
    border-radius: 8px;
}
.line.main {
    height: 8px;
    margin: 12px 0px;
    margin-left: 32px;
    margin-bottom: 70px;
}

.table {
    overflow: auto;
    margin-left: 32px;
}

.tableWrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: calc(100% - 24px);
}

.custom-table .ant-table-bordered .ant-table-cell {
    border-right: 1px solid #e8e8e8;
}
.custom-table .ant-table-tbody > tr > td {
    height: 100%;
}

.content_col {
    display: block;
    width: 60%;
    height: 4px;
    background: #c3c6d4;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: #d0d4e4;
    border-bottom-color: #d0d4e4 !important;
    border-radius: 8px;
    font-size: 14px;
}

.content_col2 {
    display: block;
    width: 30%;
    height: 4px;
    background: #c3c6d4;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: #d0d4e4;
    border-bottom-color: #d0d4e4 !important;
    border-radius: 8px;
    font-size: 14px;
}

.avatar {
    display: inline-block;
    background-image: url(../img/uifaces-popular-image.jpg);
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.no_avatar {
    display: inline-block;
    background-image: url(https://cdn.monday.com/icons/dapulse-person-column.svg);
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.status_wrap {
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.working-on-it {
    background-color: #f6be6b;
}
.done {
    background-color: #51d192;
}
.stuck {
    background-color: #c7364c;
}

.wrapDueDate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapDueDate .icon,
.wrapDueDate .deadline {
    font-size: 20px;
}

.icon {
    color: #fff;
}

.deadline {
    margin-left: 30px;
}

.nowrap {
    white-space: nowrap;
}

.danger-level {
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    line-height: 24px;
}

.no-danger-level {
    width: 24px;
    height: 24px;
    background-color: #25844e;
    border-radius: 50%;
    line-height: 24px;
}

.wrapDueDate .completed {
    text-decoration: line-through;
    opacity: 0.9;
}

.wrapTimeLine .timeLine.not-completed {
    display: inline-block;
    background-color: red;
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}

.wrapTimeLine .timeLine.completed {
    display: inline-block;
    background-color: #25844e;
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}

.wrapPriority {
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.wrapPriority.low {
    background-color: #84aefa;
}

.wrapPriority.high {
    background-color: #6745a7;
}

.wrapPriority.medium {
    background-color: #7c7ae2;
}

.wrapBudget,
.wrapNote,
.time {
    font-size: 20px;
}

.wrapLastUpdate {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.line_blue {
    background-color: rgb(87, 155, 252);
    width: 15%;
    height: 6px;
    border-radius: 4px;
}

.line_green {
    margin-top: 30px;
    background-color: rgb(0, 200, 117);
    width: 15%;
    height: 6px;
    border-radius: 4px;
}

.line.sub {
    height: 4px;
    margin: 12px 0px;
    margin-left: 32px;
}
