@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "@fortawesome/fontawesome-free/css/all.css";

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 32px;
    color: #000;
    font-weight: 500;
}

h2 {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.inviteMemberWrap {
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

.inviteMemberImg {
    height: 100vh;
}

.inviteMemberImg img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.inviteMemberContent {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.formContainer {
    max-height: 60vh;
    overflow-y: auto;
}

.inviteTitle {
    margin: 40px 0;
}

.inviteTitle h1 {
    margin-bottom: 10px;
}

.infoMember input {
    padding: 15px 20px;
    border-top: 1px solid #c5c7d0;
    border-left: 1px solid #c5c7d0;
    border-bottom: 1px solid #c5c7d0;
    outline: none;
    margin: 10px 0;
    width: 400px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.infoMember select {
    padding: 15px 20px;
    border-top: 1px solid #c5c7d0;
    border-right: 1px solid #c5c7d0;
    border-bottom: 1px solid #c5c7d0;
    outline: none;
    margin: 10px 0;
    width: 120px;
    font-size: 16px;
    word-wrap: break-word;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.infoMember select:focus,
.infoMember input:focus {
    border: 1px solid #0073ea;
}

.addAnother {
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    color: #323338;
    border-radius: 4px;
    transition: 0.5s all;
}

.remindMeLater:hover,
.addAnother:hover {
    background-color: #dcdfec;
}

.btn-act {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 125px;
}

.remindMeLater {
    padding: 10px 20px;
    color: #323338;
    border-radius: 4px;
    transition: 0.5s all;
}

.inviteYourTeam {
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    transition: 0.5s all;
    background-color: #0073ea;
}

.inviteYourTeam:hover {
    background-color: #0060b9;
}
